<div class="row babili-ui full-height">
  <div class="col-md-3 rooms">
    <h2>
      Rooms
      <small>
        <a href="#" ng-click="createRoom()" class="pull-right fa-big-link"><i class="fa fa-plus-square-o"></i></a>
      </small>
    </h2>
    <div class="room-list-placeholder" ng-hide="babiliUser.rooms.length > 0">
      No rooms yet, you can create one by clicking on <i class="fa fa-plus-square-o"></i>
    </div>
    <ul class="room-list">
      <li ng-repeat="room in babiliUser.rooms" ng-click="openRoom(room)" ng-class="{active: openedRoom.id == room.id}" class="room-list-item">
        {{roomName(room)}}
        <table class="room-user-list">
          <tbody>
            <tr ng-repeat="roomUser in room.users" class="room-user-list-item">
              <td class="room-user-name">
                {{getUserFromBabiliId(roomUser.id).name}}
              </td>
              <td class="room-user-status">
                <span ng-show="roomUser.status == 'online'">
                  <i class="fa fa-circle"></i>
                </span>
                <span ng-hide="roomUser.status == 'online'">
                  <i class="fa fa-circle-o"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
  </div>

  <div class="col-md-9 no-room-selected-placeholder" ng-hide="openedRoom">
    <p>
      Hi {{user.name}},
      <br/>
      you need to select a room.
    </p>
  </div>

  <div class="col-md-9 room" ng-show="openedRoom">
    <h2>
      {{roomName(openedRoom)}}
      <a href="#" ng-click="editRoom(openedRoom)" class="fa-big-link">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <small class="pull-right">
        <a href="#" ng-click="addUserToRoom(openedRoom)" class="fa-big-link">
          <i class="fa fa-user"></i>
        </a>

        <a href="#" ng-click="closeRoom(openedRoom)" class="fa-big-link">
          <i class="fa fa-times-circle"></i>
        </a>
      </small>
    </h2>
    <div class="room-messages" scroll-bottom="openedRoom.messages">
      <ul>
        <li ng-repeat="message in openedRoom.messages track by message.id" ng-class="babiliUser.messageSentByMe(message)? 'message-sent':'message-received'">
          <div>{{message.content}}</div>
          <div class="message-information" ng-hide="isMessageSentByMe(message)">
            Sent by {{message.senderId}} at {{message.createdAt}}
          </div>

          <div class="message-information" ng-show="isMessageSentByMe(message)">
            Sent by you at {{message.createdAt}}
          </div>
        </li>
      </ul>
    </div>
    <div class="room-new-message">
      <div class="row full-height">
        <form name="form" ng-submit="sendMessage(openedRoom)">
          <div class="col-md-10 full-height">
            <textarea class="form-control" id="message" ng-model="newMessage.content" placeholder="Type your message" required></textarea>
          </div>
          <div class="col-md-2 full-height">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
